.App {
  text-align: center;
  padding: 20px;
}

#lights {
  background-image: url('https://www.modeltrainforum.com/attachments/marquee-gif.385874/');
  width: 648px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin: auto;
}

#title {
  font-family: 'Righteous', cursive;
  font-size:90px;
  text-align: center;
  padding: 45px;
}

#main-div {
  display: flex;
  justify-content: space-around
}

#search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.justify-search-item {
  display:flex;
  justify-content: space-between;
}

#nom-div {
  width: 40%;
}
